#header nav li:nth-child(2){
    font-size: 20px;
    padding: 4px 15px;
    color: blue;
    border-bottom: 3px solid blue;
}

#header nav ul li:nth-child(2) a {
    color: blue;
}

.credits {
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    border: 2px inset violet;
    background-color: aliceblue;
    border-radius: 10px;
    margin: 5px;
}

.credits h1 {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 5px;
    padding-top: 5px;
    font-size: 25px;
}

.credits h1 span {
    color: goldenrod;
}

.credits p {
    font-size: large;
}

.credits h1 img {
    height: 35px;
    width: 35px;
    transform: translateY(-3px);
}

.box {
    height: auto;
    display: block;
    text-align: center;
    border:3px inset aliceblue;
    border-radius: 20px;
    color: aliceblue;
    margin: auto;
    padding: 10px;
    filter: opacity(80%);
}

.box .refcd {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box input {
    background-color: transparent !important;
    color: gold;
    border: 0;
    text-align: center;
    font-size: large;
}

.box .text {
    color: gold;
    text-align: center;
    text-overflow: ellipsis;
}

.copyTip {
	position: relative;
	display: inline-block;
}

.copyTip .span_copy {
	visibility: hidden;
	width: 140px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	margin-left: -75px;
	opacity: 0;
	transition: opacity 0.3s;
}

.copyTip .span_copy::after {
	content:"";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.copyTip:hover .span_copy {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width:600px) {
    .credits h1{
        font-size: 20px;
    }

    .credits h1 img{
        height: 25px;
        width: 25px;
    }

    .credits p {
        font-size: 10px;
    }

    .box .text {
        text-align: justify;
    }
}

